.bp-nav {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--grey-dark-color);
  z-index: 1;
  height: 0.1%;
  transition: height 0.3s ease-in-out;

  @media (min-width: 768px) {
    display: block;
    position: static;
    height: auto;
  }

  &.is-active {
    height: auto;
  }

  &_content {
    overflow: auto;
    height: 100%;

    @media (min-width: 768px) {
      height: auto;
      display: block;
      overflow: visible;
    }
  }

  &_items {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    list-style-type: none;
    margin: 0;

    @media (min-width: 768px) {
      align-items: center;
      flex-direction: row;
      border-top: none;
      padding: 0;
    }
  }

  &_item {
    position: relative;

    &:hover > a &:focus-within {
      background-color: var(--primary-color);
    }

    &:hover > div {
      height: auto;
    }
  }

  &_toggle {
    background: transparent;
    border: 0;
    cursor: pointer;

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      transition: 1s ease-in-out;
      cursor: pointer;
      position: relative;

      span {
        transition: 0.3s ease-in-out;
        display: block;
        position: absolute;
        height: 0.0625rem;
        width: 100%;
        background-color: white;
        opacity: 1;
        left: 0;
        top: -0.3125rem;

        &:first-child {
          top: 0.0625rem;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(4) {
          top: 1.375rem;
        }
      }
    }

    &.is-active {
      & div {
        & span {
          &:first-child {
            top: 0.6875rem;
            width: 0;
            left: 50%;
          }

          &:nth-child(4) {
            top: 0.6875rem;
            width: 0;
            left: 50%;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            width: 120%;
            margin-left: -10%;
          }

          &:nth-child(2) {
            transform: rotate(45deg);
            width: 120%;
            margin-left: -10%;
          }
        }
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &_link {
    font-size: 1rem;
    color: white;
    padding: 14px;
    width: 100%;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-transform: capitalize;

    &:hover + div {
      height: auto;
    }

    @media (min-width: 768px) {
      padding: 0 10px;
      font-weight: 700;
      width: auto;
      display: flex;
      align-items: center;
      height: 59px;

      &:hover,
      &:focus {
        background-color: var(--primary-color);
      }

      &:focus + div {
        height: auto;
      }
    }

    @media (min-width: 1024px) {
      padding: 0 20px;
      font-size: 1.125rem;
    }
  }

  &_icon {
    @media (min-width: 768px) {
      position: static;
      margin-left: 10px;
    }

    svg {
      width: 0.75rem;
      height: 0.75rem;
      fill: white;
      display: block;
    }
  }

  &_subnav {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    height: 0.1%;

    @media (min-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
      overflow: auto;
      height: 0.1%;
      background: var(--grey-dark-color);
      min-width: 200px;

      &:focus-within {
        height: auto;
      }
    }

    &-items {
      list-style-type: none;
      padding: 0;

      @media (min-width: 768px) {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 4px solid var(--primary-color);
      }
    }

    &-link {
      padding: 14px;
      font-size: 1rem;
      color: white;
      width: 100%;
      text-align: left;
      position: relative;
      display: block;

      &:hover {
        background-color: var(--grey-color);
      }
    }
  }
}
