.bp-richtext {
  &_image {
    margin-bottom: 16px;

    &>div {
      margin-bottom: 0;
    }

    &-credit {
      font-size: .75rem;
      color: var(--gray-dark-color);
      margin-top: 4px;
    }
  }
}
