.bp-backToTop {
  background-color: #2e73e1;
  border: none;
  color: white;
  font-weight: 900;
  position: fixed;
  width: 130px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  right: 15px;
  bottom: 20px;
  z-index: 2;
  border: 2px solid var(--primary-color);
  transform: perspective(1px) translateZ(0) translateX(100px);
  transition: all 0.5s;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background: white;
    transform: scaleY(0);
    transform-origin: 0 100%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  svg {
    fill: white;
    width: 24px;
    height: 24px;
    transition: all 0.5s;
  }

  &:hover {
    color: var(--primary-color);
    &::before {
      transform: scaleY(1);
    }

    svg {
      fill: var(--primary-color);
    }
  }

  &.is-active {
    transform: perspective(1px) translateZ(0) translateX(0);
  }

  &.is-hidden {
    transform: perspective(1px) translateZ(0) translateX(100px);
  }
}
