:root {
  --primary-color: #2e73e1;
  --secondary-color: #1ffcab;
  --tertiary-color: #fce533;
  --quaternary-color: #ffb4b4;
  --quinary-color: #140055;
  --grey-dark-color: #333;
  --grey-color: #666;
  --grey-light-color: #767676;
  --grey-lightest-color: #eee;
}
